*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #0a101e !important;
}
.p{
    font-size: 16px;
    color: #a9adb8;
    line-height: 1.6em;
}
/*******************************/
/****** Index Page Start ******/
/*****************************/


/*****************************/
/*=== Hero Section Start ===*/
/***************************/
.hero-section{
    margin-top: 66px;
    height: 850px;
    background-image: url('../img/hero-bg.png');
    width: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 150px;
    position: relative;
}
.hero-section h3{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 300;
}
.hero-section h1{
    color: #fdfeff;
    font-size: 120px;
    line-height: 0.90em;
    font-weight: 600;
    margin-bottom: 24px;
    font-family: 'roboto' , sans-serif;
}
.hero-section h2{
    color: #a9adb8;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
}
.hero-btn{
    background-color: #fec544;
    padding: 12px 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    border-radius: 25px;
    outline: none;
    border: none;
    transition: 0.4s;
}
.hero-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px 0px #fec64450;
    transition: all 0.4s ease;
}
@media (max-width:576px){
    .hero-btn{
        margin-bottom: 35px ;
    }

}

.hero-img-container{
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 49%;
    height: 100%;
}
.hero-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.hero-section-social-media{
    position: absolute;
    width: 400px;
    bottom: 30px;
    right: 49%;    
    background-color: #101624;
    border: 1px solid #232935;
    padding: 10px;
    display: flex;
    justify-content: start;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.hero-section-social-media a{
    padding:  10px;
    border-radius: 50px;
    display: flex;
    text-decoration: none;
    align-items: center;
    border: 1px solid #3f4551;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    background-color: #070e1b;
    margin-right: 20px;
}
.hero-section-social-media a i{
    font-size: 20px;
    color: #a9adb8;
}
.hero-section-social-media .social-media-name {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap; 
  transition: max-width 0.3s ease;
}

.hero-section-social-media a:hover .social-media-name {
  max-width: 140px; 
  margin-left: 10px;
}
/* making responsive hero-section */

@media (max-width: 1024px) {
    .hero-section{
        padding: 150px 120px;
    }
    .hero-img-container{
        width: 48.5%;
    }
}


@media (max-width: 991px) {
    .hero-section{
        padding: 150px 135px;
        height: initial;
    }
    .nav-contact{
        display: none;
    }
    .hero-img-container{
        display: none;
    }
    .hero-section-social-media{
        display: none;
    }
     }
   @media (max-width:576px) {
        .hero-section-text{
            padding: 100px 0px;
        }
        .hero-section{
            padding: 0px ;
        }
        .hero-section h1{
            font-size: 85px;
        } 
}

/***************************/
/*=== Hero Section End ===*/
/*************************/

/******************************/
/*=== About Section Start ===*/
/****************************/
.about-section{
    padding: 100px 0px ;
    background-color: #0a101e;
}
.about-image-wrapper{
    padding-right: 30px;
}
.about-image{
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 555px;
}
.about-li{
    color: #a9adb8;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 14px;
}
.about-li span:first-child{
    width: 108px;
    display: inline-block;
}
.about-li span:last-child{
    margin-left: 7px;
}
.about-btn{
    color: #fec544;
}

/* Making about section responsive start */
@media (max-width:1024px) {
    .about-image-wrapper{
        padding-right: 0px;
        margin-bottom: 30px;
    }
}
@media (max-width:576px) {
    .about-section{
        padding: 80px 0px;
    }
    
    .about-li{
        font-size: 14px;
    }
}

/* Making about section responsive end */


/****************************/
/*=== About Section End ===*/
/**************************/


/*********************************/
/*=== Service Section Starts ===*/
/*******************************/
.section-service{
    background-color: #0a101e ;
}
.service-card-container{
    padding: 50px 0px;
}
.service-card{
    background-color: #101624;
    border-radius: 5px;
    border: 1px solid #232935;
    text-align: center ;
    padding: 50px 30px;
    flex-grow: 1;
    margin-bottom: 30px;
}
.service-card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 90px;
    background-color: #070d1b;
    font-size: 50px;
    border: 0.5px solid #3f4551;
    margin: auto auto 28px;
    border-radius: 50%;
    transition: 0.4s;
}
.service-card:hover .service-card-icon{
    border: 0.5px solid #fec544;
    transition: all 0.4s ease;
}
.service-card-icon path{
    fill: #3f4551;
    transition: 0.4s;
}
.service-card-icon .svg{
  width: 52px;
  fill: #3f4551;
  transition: 0.4s;
  display: flex;
  align-items: center;
}
.service-card:hover path{
    fill: #fec544;
    transition: all 0.5s ease ;
}

.service-card-title{
    font-size: 20px;
    color: #fdfeff;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 1.3em;
    transition: 0.4s
}
.service-card:hover .service-card-title{
    color: #fec544;
    transition: all 0.4s ease ;
}
.service-card-description{
    color: #a9adb8;
}
/*******************************/
/*=== Service Section Ends ===*/
/*****************************/


/********************************/
/*=== Skills Section Starts ===*/
/******************************/
.skills-section{
    padding: 100px 0px;
    background-color: #070d1b;
}
.single-progress-bar{
    margin-bottom: 20px;
}
.progress-bar-title{
    color: #fdfeff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
}
.progress-bar{
    background-color: #3f4551 !important;
    width: 100%;
    height: 2px;
}
.progress-bar-fill{
    height: 2px;
    background-color: #fec544;
    /* width: 95%; */
}

/* responsive skill section starts */
@media (max-width:991px) {
    .skills-section{
        padding: 80px 0px;
    }
    .progress-bar-wrap{
        margin-top: 10px;
    }
}
/* responsive skill section Ends */

/******************************/
/*=== Skills Section Ends ===*/
/****************************/

/********************************/
/*=== Resume Section Starts ===*/
/******************************/
.resume-section{
    background-color: #070d1b;
}
.resume-heading-container{
    margin-bottom: 50px;
}
.resume-heading{
    color: #fdfeff;
    font-size: 36px;
    margin: 0px 0px 0px 30px;
}
.resume-timeline{
    position: relative;
    margin-bottom: 50px;
}
.resume-timeline:hover::before{
    background-color: #fec544;
    transition: all 0.4s ease;
}
.resume-timeline::before{
    position: absolute;
    content: '';
    height: 13px;
    width: 13px;
    background-color: #101624;
    border: 2px solid #232935;
    border-radius: 50%;
    left: -47px;
    transition: 0.4s;
}
.resume-timeline-container{
    margin-left: 20px;
    padding: 0px 0px 0px 40px;
    border-left: 1px solid #232935;
}
.resume-timeline-title{
    color: #fec544;
    font-size: 24px;
    margin-bottom: 10px;
}
.resume-timeline-duration{
    font-size: 18px;
    color: #a9adb8;
    margin-bottom: 21px;
}
.resume-timeline-subtitle{
    font-size: 20px;
    color: #fdfeff;
    margin-bottom: 19px;
    font-weight: 400;
}
/******************************/
/*=== Resume Section Ends ===*/
/****************************/


/***********************************/
/*=== Portfolio Section Starts ===*/
/*********************************/
.portfolio-section{
    padding: 100px 0px;
    background-color: #0a101e;
}
.portfolio-card{
    position: relative;
}
.portfolio-card::before{
    content: '';
    position: absolute;
    background-color: #3f4551;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease;
}
.portfolio-card:hover::before{
    opacity: 0.8;
    /* background-color: red; */
    transition: all 0.4s ease;
}
.portfolio-card::after{
    opacity: 0;
    content: '';
    border: 1px solid #fdfeff;
    position: absolute;
    width: 90%;
    height: 90%;
    bottom: 50%;
    right: 50%;
    transition: all 0.4s ease;
    transform: translate(50%, 50%);
}
.portfolio-card:hover::after{
    opacity: 0.8;
    transition: all 0.4s ease ;
}
.portfolio-card-item-hover{
    position: absolute;
    bottom: 40%;
    right: 50%;
    transform: translate(50%, 50%);
    overflow: hidden;
    /* max-width: 0; */
    white-space: nowrap;
    z-index: -1;
    /* transition: 0.4s; */
}
.portfolio-card:hover .portfolio-card-item-hover{
    z-index: 99;
    /* transition: all 0.4s ease; */
}
.portfolio-card-item-hover i{
    color: #151b29;
    background-color: #fec544;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    border: 0.5px solid #3f4551;
    margin-bottom: 25px;
}
.portfolio-card-item-hover h4{
    color: #fdfeff;
    font-size:20px ;
}
/*********************************/
/*=== Portfolio Section Ends ===*/
/*******************************/

/******************************/
/*=== Review Section Ends ===*/
/****************************/
.review-section{
    padding: 100px 0px;
    background-color: #070d1b;
}
.slider-content{
    background-color: #101624;
    padding: 30px 15px;
    margin-bottom: 40px;
    border: 1px solid #232935;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    transition: 0.4s;
}
.slider-quote{
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: -1;
}
.slider-quote::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    left: 300%;
    bottom: -95px;
    transform: translateX(-50%) rotate(45deg);
    border-width: 0px 1px 1px 0px;
    border-color: #232935;
    border-style: solid;
    background-color: #101624;
    transition: 0.4s;
}
.slider-card:hover .slider-quote::after{
    border-color: #fec544;
    transition: all 0.4s ease;
}
.slider-content p{
    margin-top: -6px;
    margin-bottom: -6px;
}
.slider-author-content h3{
    color: #fdfeff;
    font-size: 20px;
    margin-bottom: 4px;
    transition: 0.4s;
}
.slider-card:hover .slider-content{
    border-color: #fec544;
    transition: all 0.4s ease;
 }

.slider-card:hover .slider-author-content h3{
    color: #fec544;
    transition: all 0.4s ease;

}
/******************************/
/*=== Review Section Ends ===*/
/****************************/

/******************************/
/*=== Blog Section Starts ===*/
/****************************/
.blog-section{
    padding: 100px 0px;

}
.blog-info{
    margin-top: 20px;
}
.blog-divider{
    color: #a9adb8;
    margin-left: 4px;
    margin-right: 4px;
}
.blog-title{
    font-size: 20px;
    color: #fdfeff;
    font-weight: 400;
}
.blog-title:hover{
    color: #fec544;
}
/******************************/
/*=== Blog Section Ends ===*/
/****************************/


/*********************************/
/*=== Contact Section Starts ===*/
/*******************************/
.contact-section{
    padding: 100px 0px;
    background-color: #070d1b;
}
.form-input{
    background-color: #101624 !important;
    color: #a9adb8 !important;
    border: 1px solid #232935 !important;
    padding: 12px 20px !important;
    margin-bottom: 30px !important ;
}
.form-input:focus{
    border-color:  #fec544 !important;
    outline: 0;
    box-shadow: none !important;

}
::placeholder{
    color: #3f4551 !important;
}
.contact-info-card{
    margin-bottom: 30px;
}
.contact-info-card   i{
    color: #a9adb8;
    /* font-size: 16px; */
    background-color: #070d1b;
    border: 1px solid #232935;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 15px;
    font-size: 20px;
    margin-right: 20px;
}
.contact-info-text h3{
    color:#fdfeff ;
    font-size: 20px;
    font-weight: 400;
}
.social-media-links-container{
    padding: 10px;
    display: flex;
    justify-content: start;
}
.social-media-links-container a{
    background-color: #070d1b;
    border: 1px solid #232935;
    border-radius: 100px;
    /* width: 50px;*/
    /* height: 50px;  */
    padding: 10px;
    overflow: hidden;
    font-size: 22px;
    color: #a9adb8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.social-media-links-container a:hover .social-media-name{
    max-width: 120px;
    transition: all 0.4s ease;
    margin-left: 10px;

}
.social-media-name{
    display: inline-block;
    color: #fdfeff;
    font-size: 18px;
    font-weight: 500;
    max-width: 0;
    overflow: hidden;
    transition: 0.4s;
}
.social-profile-text{
    font-size: 20px;
    margin-bottom: 25px;
    color: #a9adb8;
}
.contact-info-card:hover  i{
     border-color: #fec544 !important ;
}
.contact-info-card a:hover {
    color: #fec544;
}

/*******************************/
/*=== Contact Section Ends ===*/
/*****************************/





/*****************************/
/****** Index Page End ******/
/***************************/


/*******************************/
/**** Utility Class Start *****/
/*****************************/
.sticky-navbar{
    position: fixed !important;
    top: 0;
    z-index: 1000;
    /* height: 80px;+ */
    display: flex;
    align-self: center;
}
.bg-nav{
    background-color: #070e1b;
}

.nav-link{
    color: #ffffff !important;
    font-size: 15px !important;
}
.active{
    color: #fec544 !important;
}
.font-nav-contact{
    font-family: sans-serif;
    font-size: 16px;
}
.nav-contact::before{
    content: '';
    position: absolute;
    right: 200px;
    height: 10px;
    width: 1px;
    background-color: #ffffff;
}
.margin-right{
    margin-right: 35px;
}
.section-heading{
    position: relative;
}
.section-heading h2{
    position: absolute;
    font-size: 90px;
    bottom: -60px;
    /* z-index: 1; */
    right: 30%;
    color: rgba(21, 27, 41, 0.5);
}
.section-heading h3{
    position: relative;
    color: #fec544;
    font-size: 24px;
    margin-bottom: 10px;
    z-index: 999;
}
.section-heading h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px ;
    left: 50%;
    height: 2px;
    width: 170px;
    background-color: #3f4551;
    transform: translateX(-50%);
}
.section-heading h3::after{
    content: '';
    display: block;
    position: absolute;
     bottom: -16px ;
    left: 50%;
    height: 2px;
    width: 85px;
    transform: translateX(-50%);
    background-color: #fec544;
    /* z-index: 99; */

}
@media (max-width:1024px) {
    .section-heading h2{
        right: 27%;
    }
}
@media (max-width:991px) {
    .section-heading h2{
        display: none;
    }
}

.section-title{
    font-size: 36px;
    color: #ffffff;
    font-family: sans-serif;
    margin-bottom: 18px;
}
@media (max-width:991px) {
    .section-title{
        font-size: 28px;
        margin-bottom: 25px;
    }
}
.section-title-p{
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
    font-family: sans-serif;
    color: #a9adb8;
}

@media (max-width:576px) {
    .section-title-p{
        font-size: 14px;
    }
    .section-title-h3{
        font-size: 24px;
    }
}

.margin-bottom-light{
    margin-bottom: 18px;
}

.margin-bottom-heavy{
    margin-bottom: 43px
}
.zoom-in{
    overflow: hidden;
    transition: all 0.3s ease ;
}
.zoom-in:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

/*******************************/
/****** Utility Class End *****/
/*****************************/